<!-- Sankey -->

<head>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-sankey.min.js"></script>
</head>
<body>
<div id="container"></div>
<script>
anychart.onDocumentReady(function(){
 //creating the data
 var data = [
 {from: 'Seq2ASeq (2012)', to: 'Seq2ASeq (2013)', value: 100},
{from: 'Seq2Seq (2013)', to: 'Seq2Seq (2014)', value: 100},
{from: 'Class (2012)', to: 'Class (2013)', value: 100},
{from: 'Class (2013)', to: 'Class (2014)', value: 100},
{from: 'Matching (2012)', to: 'Matching (2013)', value: 100},
{from: 'Matching (2013)', to: 'Matching (2014)', value: 100},
{from: 'SeqLab (2012)', to: 'SeqLab (2013)', value: 100},
{from: 'SeqLab (2013)', to: 'SeqLab (2014)', value: 100},
{from: 'MRC (2012)', to: 'MRC (2013)', value: 100},
{from: 'MRC (2013)', to: 'MRC (2014)', value: 100},
{from: 'Seq2Seq (2012)', to: 'Seq2Seq (2013)', value: 100},
{from: 'Seq2ASeq (2013)', to: 'Seq2ASeq (2014)', value: 100},
{from: '(M)LM (2012)', to: '(M)LM (2013)', value: 100},
{from: '(M)LM (2013)', to: '(M)LM (2014)', value: 100},
{from: 'Class (2014)', to: 'Class (2015)', value: 100},
{from: 'Matching (2014)', to: 'Matching (2015)', value: 100},
{from: 'SeqLab (2014)', to: 'SeqLab (2015)', value: 100},
{from: 'MRC (2014)', to: 'MRC (2015)', value: 100},
{from: 'Seq2Seq (2014)', to: 'Seq2Seq (2015)', value: 100},
{from: 'Seq2ASeq (2014)', to: 'Seq2Seq (2015)', value: 20},
{from: 'Seq2ASeq (2014)', to: 'Seq2ASeq (2015)', value: 80},
{from: '(M)LM (2014)', to: '(M)LM (2015)', value: 100},
{from: 'Class (2015)', to: 'Class (2016)', value: 100},
{from: 'Matching (2015)', to: 'Matching (2016)', value: 100},
{from: 'SeqLab (2015)', to: 'SeqLab (2016)', value: 100},
{from: 'MRC (2015)', to: 'MRC (2016)', value: 100},
{from: 'Seq2Seq (2015)', to: 'Seq2Seq (2016)', value: 120},
{from: 'Seq2ASeq (2015)', to: '(M)LM (2016)', value: 20},
{from: 'Seq2ASeq (2015)', to: 'Seq2ASeq (2016)', value: 60},
{from: '(M)LM (2015)', to: '(M)LM (2016)', value: 100},
{from: '(M)LM (2016)', to: '(M)LM (2017)', value: 120},
{from: 'Class (2016)', to: 'Class (2017)', value: 88},
{from: 'Class (2016)', to: 'MRC (2017)', value: 12},
{from: 'Matching (2016)', to: 'Matching (2017)', value: 100},
{from: 'SeqLab (2016)', to: 'SeqLab (2017)', value: 100},
{from: 'MRC (2016)', to: 'MRC (2017)', value: 100},
{from: 'Seq2Seq (2016)', to: 'Seq2Seq (2017)', value: 120},
{from: 'Seq2ASeq (2016)', to: 'Seq2ASeq (2017)', value: 60},
{from: 'Class (2017)', to: 'Class (2018)', value: 76},
{from: 'Class (2017)', to: 'Seq2Seq (2018)', value: 12},
{from: 'Matching (2017)', to: 'Matching (2018)', value: 75},
{from: 'Matching (2017)', to: 'Seq2Seq (2018)', value: 25},
{from: 'SeqLab (2017)', to: 'SeqLab (2018)', value: 83},
{from: 'SeqLab (2017)', to: 'Seq2Seq (2018)', value: 17},
{from: 'MRC (2017)', to: 'MRC (2018)', value: 112},
{from: 'Seq2Seq (2017)', to: 'Seq2Seq (2018)', value: 120},
{from: 'Seq2ASeq (2017)', to: 'SeqLab (2018)', value: 20},
{from: 'Seq2ASeq (2017)', to: 'Seq2ASeq (2018)', value: 40},
{from: '(M)LM (2017)', to: '(M)LM (2018)', value: 120},
{from: 'MRC (2018)', to: 'MRC (2019)', value: 112},
{from: 'SeqLab (2018)', to: 'SeqLab (2019)', value: 103},
{from: 'Class (2018)', to: 'Matching (2019)', value: 15},
{from: 'Class (2018)', to: 'Class (2019)', value: 61},
{from: 'Matching (2018)', to: 'Matching (2019)', value: 50},
{from: 'Matching (2018)', to: 'Class (2019)', value: 25},
{from: 'Seq2Seq (2018)', to: 'Seq2Seq (2019)', value: 174},
{from: 'Seq2ASeq (2018)', to: 'Seq2ASeq (2019)', value: 40},
{from: '(M)LM (2018)', to: '(M)LM (2019)', value: 120},
{from: 'Matching (2019)', to: 'Matching (2020)', value: 40},
{from: 'Matching (2019)', to: '(M)LM (2020)', value: 25},
{from: 'Class (2019)', to: 'Class (2020)', value: 34},
{from: 'Class (2019)', to: 'MRC (2020)', value: 13},
{from: 'Class (2019)', to: 'Matching (2020)', value: 13},
{from: 'Class (2019)', to: 'SeqLab (2020)', value: 13},
{from: 'Class (2019)', to: '(M)LM (2020)', value: 13},
{from: 'SeqLab (2019)', to: 'Class (2020)', value: 16},
{from: 'SeqLab (2019)', to: 'MRC (2020)', value: 16},
{from: 'SeqLab (2019)', to: 'Matching (2020)', value: 16},
{from: 'SeqLab (2019)', to: 'SeqLab (2020)', value: 55},
{from: 'MRC (2019)', to: 'MRC (2020)', value: 62},
{from: 'MRC (2019)', to: '(M)LM (2020)', value: 50},
{from: 'Seq2Seq (2019)', to: '(M)LM (2020)', value: 50},
{from: 'Seq2Seq (2019)', to: 'Seq2Seq (2020)', value: 124},
{from: 'Seq2ASeq (2019)', to: 'Seq2ASeq (2020)', value: 40},
{from: '(M)LM (2019)', to: '(M)LM (2020)', value: 120},
{from: 'Class (2020)', to: 'Seq2Seq (2021)', value: 12},
{from: 'Class (2020)', to: 'MRC (2021)', value: 12},
{from: 'Class (2020)', to: 'Class (2021)', value: 14},
{from: 'Class (2020)', to: '(M)LM (2021)', value: 12},
{from: 'MRC (2020)', to: 'MRC (2021)', value: 91},
{from: 'Matching (2020)', to: 'Matching (2021)', value: 69},
{from: 'SeqLab (2020)', to: 'Seq2Seq (2021)', value: 17},
{from: 'SeqLab (2020)', to: 'SeqLab (2021)', value: 35},
{from: 'SeqLab (2020)', to: '(M)LM (2021)', value: 16},
{from: '(M)LM (2020)', to: '(M)LM (2021)', value: 258},
{from: 'Seq2Seq (2020)', to: 'Seq2Seq (2021)', value: 124},
{from: 'Seq2ASeq (2020)', to: 'MRC (2021)', value: 20},
{from: 'Seq2ASeq (2020)', to: 'Seq2ASeq (2021)', value: 20},
 ];
//calling the Sankey function
var sankey_chart = anychart.sankey(data);
//customizing the width of the nodes
sankey_chart.nodeWidth("20%");
//setting the chart title
sankey_chart.title("Paradigm Shift in NLP");
//customizing the vertical padding of the nodes
sankey_chart.nodePadding(20);
//setting the container id
sankey_chart.container("container");
//initiating drawing the Sankey diagram
sankey_chart.draw();
});
</script>
</body>